@use "function" as *;
@use "variable" as *;
@use "mixins" as *;

.burger {
    @mixin Burger($params: null) {
        &-open {
            display: inline-block;
            opacity: 0.5;
            width: 32px;
            height: 32px;
            background-size: contain;
            background-image: url(../img/burger.svg);
            background-repeat: no-repeat;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        &-space {
            z-index: 9;
            background-color: rgba(0, 0, 0, 0.4392156863);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            position: fixed;
            background-color: white;
            top: 0;
            bottom: 0;
            width: GetParam($params, wrap_width, 100%);
            height: 100%;
            right: 0;
            padding: GetParam($params, wrap_padding, 16px 4% 42px);
        }
        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: GetParam($params, top_margin_bot, 90px);
        }
        &-logo {
            width: 160px;
        }
        &-close {
            opacity: 0.5;
            width: 32px;
            height: 32px;
            background-size: contain;
            background-image: url(../img/close.svg);
            background-repeat: no-repeat;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        &-links {
            display: flex;
            flex-direction: column;
            > a {
                font-size: GetParam($params, font_size, 32px);
                line-height: GetParam($params, line_height, 46px);
                font-weight: GetParam($params, font_weight, null);
                color: $colorTextDark;
                margin-bottom: GetParam($params, links_margin, 32px);
                cursor: pointer;
                &:hover {
                    color: $colorTextAccent;
                }
            }
        }
        &-contacts {
            > a {
                display: block;
                margin-bottom: GetParam($params, links_margin, 20px);
                color: $colorTextAccent;
                font-size: GetParam($params, font_size, 24px);
                line-height: GetParam($params, line_height, 30px);
                cursor: pointer;
                &:not(:last-child) {
                    //margin-bottom: 20px;
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
    @include MixScreen(null, $sizeM) { @include Burger((
            font_weight: 500,
            font_size: 20px,
            line_height: 26px,
            links_margin: 16px,
            top_margin_bot: 48px
    ))}
    @include MixScreen($sizeM, $size2XL) { @include Burger((
            wrap_width: 480px,
    ))}
    @include MixScreen($size2XL) { @include Burger((
            wrap_padding: 16px 15% 42px 64px,
            wrap_width: 480px,

    ))}

}