@use "function" as *;
@use "variable" as *;
@use "mixins" as *;

.contacts {
    @mixin Contacts($params: null) {
        &-links {
            margin: GetParam($params, container_margin, 40px) 0;
            > div {
                font-size: 20px;
                line-height: 24px;
                &:first-child {
                    margin-bottom: 16px;
                }
                > a {
                    color: $colorTextAccent;
                    &:hover {
                        color: $colorTextDark;
                    }
                }
            }
        }
        &-form {
            width: GetParam($params, form_width, 60%);
            margin-bottom: GetParam($params, container_margin, 80px);
            .text-wrap {
                margin-bottom: 24px;
                > textarea {
                    padding: 12px;
                    width: 100%;
                    height: 120px;
                    border: 1px solid $colorBackgroundDark;
                    resize: none;
                    &:focus {
                        outline: none;
                        border-color: $colorBtnAccent;
                        box-shadow: none;
                    }
                }
            }
            .input-wrap {
                margin-bottom: 40px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                > input {
                    padding: 12px;
                    width: 100%;
                    border: 1px solid $colorBackgroundDark;
                    &:focus {
                        outline: none;
                        border-color: $colorBtnAccent;
                        box-shadow: none;
                    }
                }
            }
            &-btn {
                display: GetParam($params, btn_display, null);
                text-align: center;
            }
        }
    }


    @include MixScreen(null, $sizeL) { @include Contacts((
            form_width: 100%,
            container_margin: 40px
    )); }
    @include MixScreen($sizeL) { @include Contacts((
            btn_display: inline-block
    )); }
}