@use "function" as *;
@use "variable" as *;

.header {
    @mixin Header($params: null) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px;
        a {
            cursor: pointer;
            &:hover {
                color: $colorTextAccent;
            }
        }
        &-logo {

        }
        &-menu {
            display: flex;
            gap: 44px;
            > a {
                padding: 8px;
                color: $colorTextDark;
                &:nth-child(2) {
                    display: GetParam($params, contacts_page_display, null);
                }
            }
        }
        &-contacts {
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    }

    @include MixScreen(null, $size5XL) { @include Header((
            contacts_page_display: none,

    )); }
    @include MixScreen($size5XL) { @include Header(()); }
}