@use "function" as *;
@use "variable" as *;

.header {
    @mixin Header($params: null) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px;
        a {
            cursor: pointer;
            &:visited {
                color: $colorTextDark;
            }
            &:hover {
                color: $colorTextAccent;
            }

        }
        &-logo {

        }
        &-menu {
            display: flex;
            gap: 44px;
            > a {
                padding: 8px;
                color: $colorTextDark;
                &:nth-child(1) {
                    display: GetParam($params, mrk_rvd_page_display, null);
                }
                &:nth-child(2) {
                    display: GetParam($params, contacts_page_display, null);
                }
            }
        }
        &-contacts {
            display: GetParam($params, contacts_display, flex);;
            flex-direction: column;
            align-items: end;
            > a {
                color: $colorTextDark;
            }
        }
        &-btn {
            display: GetParam($params, btn_display, null);
        }
        .burger-open {
            display: GetParam($params, burger_display, null);
            cursor: pointer;
        }
    }

    @include MixScreen(null, $sizeM) { @include Header((
            contacts_page_display: none,
            contacts_display: none,
            btn_display: none,
            mrk_rvd_page_display: none,
    )); }
    @include MixScreen($sizeM, $size3XL) { @include Header((
            contacts_page_display: none,
            contacts_display: none,
            btn_display: none,
    )); }
    @include MixScreen($size3XL, $size5XL) { @include Header((
            contacts_page_display: none,
            burger_display: none
    )); }
    @include MixScreen($size5XL) { @include Header((
            burger_display: none
    )); }
}