@use "function" as *;
@use "variable" as *;
@use "mixins" as *;


@mixin rbt {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    input {
        display: none;
    }
    span {
        display: inline-block;
        padding: 4px 8px;
        background-color: white;
        border-radius: 4px;
    }
    input:checked + span {
        background-color: $colorAccentLightMore;
        color: $colorBackgroundAccent;
    }
}


.prod-filter {
    @mixin ProdFilter($params: null) {
        margin-bottom: 70px;
        position: relative;
        padding: GetParam($params, filter_padding, 40px 80px);
        border-radius: 24px;
        background-color: $colorAccentLight;
        @include textMain;
        &-switcher {
            display: flex;
            flex-direction: GetParam($params, swithcer_wrap_flex_dir, null);
            gap: GetParam($params, swithcer_gap, 48px);
            margin-bottom: 24px;
        }
        &-wrap {
            display: flex;
            flex-direction: GetParam($params, selects_wrap_flex_dir, null);
            gap: GetParam($params, selects_wrap_gap, 80px);
            margin-bottom: 24px;
            &-item {
                width: GetParam($params, selects_width, null);
                &-head {
                    height: calc(32px + 2rem);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                > div {
                    &:not(:last-child) {
                        margin-bottom: GetParam($params, margin_bottom, 24px);
                    }
                }
            }
        }
        &-checkboxes {
            > div:nth-child(1) {
                margin-bottom: 12px;
            }
            > div:nth-child(2) {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                > label {
                    > input {
                        display: none;
                    }
                    > span {
                        display: inline-block;
                        padding: 4px 8px;
                        background-color: white;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                    & > input:checked + span {
                        background-color: $colorAccentLightMore;
                        color: $colorBackgroundAccent;
                    }
                }
            }
        }
        &-radio {
            > div:nth-child(1) {
                margin-bottom: 12px;
            }
            > div:nth-child(2) {
                @include rbt
            }
            .forload {
                opacity: 0.5;
                font-size: 16px;
            }
        }

        &-length {
            > div:nth-child(1) {
                margin-bottom: 12px;
            }
            > div:nth-child(2) {
                display: flex;
                align-items: end;
                gap: 24px;
                label:nth-child(1) {
                    background-color: white;
                    padding: 4px 12px;
                    display: inline-block;
                    border-radius: 8px;
                    > input {
                        border: none;
                        background-color: transparent;
                        color: $colorTextDarkOpacity;
                        font-size: 20px;
                        line-height: 24px;
                        width: 100px;
                    }
                }
            }
        }

        &-checkbox {
            display: flex;
            gap: 20px;
            align-items: center;
            width: fit-content;
            cursor: pointer;
            > input {
                display: none;
            }

            > label {
                &:before {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-right: 20px;
                    background-color: white;
                    border-radius: 4px;
                }
                cursor: pointer;
                display: flex;
            }
            & > input:checked + label:before {
                color: $colorBackgroundAccent;
                background-image: url("/assets/resources/img/check.png");
                background-size: 80%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        &-buttons {
            display: flex;
            flex-direction: GetParam($params, selects_wrap_flex_dir, null);
            gap: GetParam($params, selects_wrap_gap, 80px);
            > div {
                width: GetParam($params, selects_width, null);
            }
        }
    }
    @include MixScreen(null, $sizeX) { @include ProdFilter((
            selects_wrap_flex_dir: column,
            swithcer_wrap_flex_dir: column,
            swithcer_gap: 16px,
            filter_padding: 30px,
            selects_wrap_gap: 40px,
            margin_bottom: 12px
    ))}
    @include MixScreen($sizeX, $size3XL) { @include ProdFilter((
            selects_wrap_flex_dir: column,
            selects_wrap_gap: 40px,
            margin_bottom: 12px
    ))}
    @include MixScreen($size3XL) { @include ProdFilter((
            selects_width: 50%
    ))}
}


.select-wrap {
    margin-top: 8px;
    display: block;
    width: 100%;
    position: relative;

    .new-select {
        position: relative;
        padding: 20px;

        user-select: none;
        border-radius: 8px;
        background-color: $colorBackgroundLight;
        color: $colorDarkOpacity;
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 3;
        &:not(.disabled) {
            cursor: pointer;
        }
        &.not-active {
            pointer-events: none;
            opacity: 0.5;
        }

        &:after {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 20px;
            top: 15px;
            bottom: 15px;
            background: url('/assets/resources/img/arrow-select.svg') no-repeat right center / cover;
            opacity: 0.6;
            background-size: contain;
            margin: auto;

            -webkit-transition: all .27s ease-in-out;
            -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        &.on {
            border-radius: 8px 8px 0 0;
            &:after {
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        &-list {
            position: absolute;
            left: 0;
            cursor: pointer;
            width: 100%;
            z-index: 2;
            background-color: $colorBackgroundLight;
            user-select: none;
            color: $colorDarkOpacity;
            border-radius: 0 0 8px 8px;
            box-shadow: 0 15px 59px -17px rgba(0,0,0,0.24);

            overflow-y: scroll;
            height: 308px;

            &::-webkit-scrollbar {
                width: 12px;                                            /* ширина всей полосы прокрутки */
            }

            &::-webkit-scrollbar-track {
                background: $colorAccentLightMore;                      /* цвет зоны отслеживания */
                border-radius: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $colorAccentLight;                    /* цвет бегунка */
                border-radius: 20px;                                    /* округлось бегунка */
                border: 3px solid $colorAccentLightMore;                /* отступ вокруг бегунка */
            }

            &.on {
                display: block;
            }

            > div:last-child span {
                border-radius: 0 0 8px 8px;
            }

            &-item {
                span {
                    display: block;
                    padding: 10px 15px;
                    &:hover {
                        background-color: $colorAccentLightMore;
                    }
                }
            }
        }
    }

}

.component {
    &.GroupRadio {
        &:not(.disabled) {
            cursor: pointer;
        }
        @include rbt;
    }
}

.prod-not-found {
    text-align: center;
    padding: 40px;
    border-radius: 24px;
    border: 1px solid $colorAccentLight;
    margin-bottom: 70px;
}
