@use "sass:map";
@use "function" as *;
@use "variable" as *;
@use "mixins" as *;

@import "header";
@import "footer";
@import "mainPage";
@import "prodFilter";
@import "prodTable";
@import "carousel";
@import "popup";

@import "test";

* {
    box-sizing: border-box;
    font-family: "Intro", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    flex: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
main {
    flex: auto;
    //font-weight: 400;
    //font-size: 24px;
    //line-height: 24px;
}
footer {
    flex: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    @mixin Container($params: null) {
        margin-left: GetParam($params, padding_container, 14%);
        margin-right: GetParam($params, padding_container, 14%);
    }
    @include MixScreen(null, $size2XL) { @include Container((padding_container: 4%)); }
    @include MixScreen($size2XL) { @include Container(()); }
}

.btn {
    display: table-caption;
    max-width: 190px;
    padding: 8px 20px;
    text-align: center;
    background-color: $colorBtnAccent;
    color: $colorTextLight;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.logo {
    @mixin Logo($params: null) {
        > img {
            width: GetParam($params, logo_width, 244px);
        }
    }
    @include MixScreen(null, $size5XL) { @include Logo((logo_width: 160px)); }
    @include MixScreen($size5XL) { @include Logo(()); }
}

input, textarea {
    &:focus-visible {
        outline: none;
    }
}

.hide {
    display: none;
}

.head {
    @mixin Head($params: null) {
        margin-bottom: 20px;
        font-size: GetParam($params, font_size, 48px);
        line-height: GetParam($params, line_height, 58px);
        font-weight: 700;
    }
    @include MixScreen(null, $sizeM) { @include Head((
            line_height: 36px,
            font_size: 30px,
    )); }
    @include MixScreen($sizeM, $size2XL) { @include Head((
            line_height: 36px,
            font_size: 30px,
    )); }
    @include MixScreen($size2XL, $size5XL) { @include Head((
            line_height: 48px,
            font_size: 36px,
    )); }
    @include MixScreen($size5XL) { @include Head(()); }
}


body::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background: $colorAccentLightMore;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
    background-color: $colorAccentLight;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid $colorAccentLightMore;  /* отступ вокруг бегунка */
}
