/* Colors */
/* Sizes */
/* Colors */
/* Sizes */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header a {
  cursor: pointer;
}
.header a:hover {
  color: #3F80D0;
}
.header-menu {
  display: flex;
  gap: 44px;
}
.header-menu > a {
  padding: 8px;
  color: #000;
}
.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* Colors */
/* Sizes */
.footer {
  background-color: #242424;
}
.footer > div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer a {
  padding: 6px 0;
  color: #FFF;
}
.footer a:hover {
  color: #3F80D0;
}
.footer-links {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.footer-contacts {
  text-align: end;
}
.footer-contacts > div:first-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.footer-contacts > div:last-child {
  width: 224px;
  color: #FFF;
}

/* Colors */
/* Sizes */
.main-banner {
  margin-left: 14%;
  margin-right: 14%;
  margin-bottom: 60px;
  position: relative;
  flex: auto;
}
.main-banner > div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 130px;
  padding-left: 60px;
  color: #FFF;
}
.main-banner > div > div {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}
.main-banner > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-about {
  margin-bottom: 80px;
}
.main-about-head {
  width: 65%;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}
.main-about-body {
  display: flex;
  gap: 140px;
}
.main-about-body > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-about-body > div:first-child > div:last-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.main-about-body-text {
  padding-top: 48px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.main-about-body-img {
  padding-right: 120px;
}
.main-about-body-img > img {
  width: 420px;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 80px;
}
.main-cards-item {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 24px;
  border: 2px solid #3F80D0;
}
.main-cards-item > div:nth-child(1) {
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}
.main-cards-item > div:nth-child(2) {
  flex: auto;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 29px;
}
.main-cards-item > div:nth-child(3) {
  align-self: flex-end;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

/* Colors */
/* Sizes */
.prod-filter-head {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}
.prod-filter-wrap {
  display: flex;
  padding: 40px 80px;
  gap: 80px;
  border-radius: 24px;
  background-color: #D9EAFF;
}
.prod-filter-wrap-item > div:not(:last-child) {
  margin-bottom: 24px;
}
.select {
  display: block;
  max-width: 215px;
  width: 100%;
  position: relative;
}

.new-select {
  position: relative;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
}

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span:hover {
  color: #12b223;
}

.new-select:after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  background: url("path-to-image") no-repeat right center/cover;
  opacity: 0.6;
  -webkit-transition: all 0.27s ease-in-out;
  -o-transition: all 0.27s ease-in-out;
  transition: all 0.27s ease-in-out;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Colors */
/* Sizes */
/* Colors */
/* Sizes */
.carousel-head {
  margin-bottom: 56px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}
.carousel-client {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* Colors */
/* Sizes */
@media (max-width: 680px) {
  .windows .instance {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .windows .instance:last-child {
    background-color: rgba(0, 0, 0, 0.4392156863);
  }
  .windows .instance .space {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .windows .instance .window {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 7px 0 rgba(45, 44, 44, 0.1294117647);
    position: relative;
    max-height: 80%;
    max-width: 80%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
  }
  .windows .instance .window .head {
    background-color: #3F80D0;
    color: #FFF;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .windows .instance .window .head .title {
    padding: 1rem 2rem;
    flex: auto;
  }
  .windows .instance .window .head .close {
    background-image: url("../img/crossWhite.svg");
    background-size: cover;
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    cursor: pointer;
  }
  .windows .instance .window .container {
    background-color: #FFF;
    overflow: hidden;
    overflow-y: auto;
    padding: 1.5rem 2.5rem 2rem;
  }
  .windows .instance .window .container > form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .windows .instance .window .container > form > div.text-wrap {
    background-color: #D9EAFF;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    min-height: 100px;
  }
  .windows .instance .window .container > form > div.text-wrap > textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    resize: none;
  }
  .windows .instance .window .container > form > div.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 24px;
  }
  .windows .instance .window .container > form > div.input-wrap.contacts {
    margin-top: 24px;
  }
  .windows .instance .window .container > form > div.input-wrap > input {
    background-color: #D9EAFF;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
  }
  .windows .instance .window .container > form .btn {
    max-width: revert;
  }
  .windows .instance .window .container_null_title {
    background-color: #FFF;
    overflow: hidden;
    overflow-y: auto;
    padding: 1.5rem 2.5rem 3.2rem;
    text-align: center;
  }
}
@media (min-width: 681px) {
  .windows .instance {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .windows .instance:last-child {
    background-color: rgba(0, 0, 0, 0.4392156863);
  }
  .windows .instance .space {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .windows .instance .window {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 7px 0 rgba(45, 44, 44, 0.1294117647);
    position: relative;
    max-height: 80%;
    max-width: 80%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
  }
  .windows .instance .window .head {
    background-color: #3F80D0;
    color: #FFF;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .windows .instance .window .head .title {
    padding: 1rem 2rem;
    flex: auto;
  }
  .windows .instance .window .head .close {
    background-image: url("../img/crossWhite.svg");
    background-size: cover;
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    cursor: pointer;
  }
  .windows .instance .window .container {
    background-color: #FFF;
    overflow: hidden;
    overflow-y: auto;
    padding: 1.5rem 2.5rem 2rem;
  }
  .windows .instance .window .container > form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .windows .instance .window .container > form > div.text-wrap {
    background-color: #D9EAFF;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    min-height: 100px;
  }
  .windows .instance .window .container > form > div.text-wrap > textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    resize: none;
  }
  .windows .instance .window .container > form > div.input-wrap {
    display: flex;
    gap: 1rem;
    margin-bottom: 24px;
  }
  .windows .instance .window .container > form > div.input-wrap.contacts {
    margin-top: 24px;
  }
  .windows .instance .window .container > form > div.input-wrap > input {
    background-color: #D9EAFF;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
  }
  .windows .instance .window .container > form .btn {
    max-width: revert;
  }
  .windows .instance .window .container_null_title {
    background-color: #FFF;
    overflow: hidden;
    overflow-y: auto;
    padding: 1.5rem 2.5rem 3.2rem;
    text-align: center;
  }
}

* {
  box-sizing: border-box;
  font-family: "Intro", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  flex: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

main {
  flex: auto;
}

footer {
  flex: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  padding-left: 14%;
  padding-right: 14%;
}

.btn {
  display: table-caption;
  max-width: 190px;
  padding: 8px 20px;
  text-align: center;
  background-color: #3F80D0;
  color: #FFF;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.logo > img {
  width: 244px;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
}

/*# sourceMappingURL=main.css.map */
