<header class="container">
    <div class="header">
        <a href="/" class="header-logo logo">
            <img src="https://fluid-line.ru/assets/page/logo/logo-new.svg" alt="logo">
        </a>
        <div class="header-menu">
            <!--                    <a href="#">Металлорукава</a>-->
            <a href="/products">Металлорукава и РВД</a>
            <a href="/contacts">Контакты</a>
        </div>
        <div class="header-contacts">
            <a href="">mail@fld.ru</a>
            <a>+7 495 984 41 00</a>
        </div>
        <div class="header-btn">
            <div class="btn" onclick="showForm('/api/commercial-offer', 'post', 'Отправить спецификацию', 'letter')">Отправить спецификацию</div>
        </div>
        <div class="header-burger">
            =
        </div>
    </div>
</header>